@media (min-width:270px){
  *{
    padding:0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
    
  
    background-repeat: no-repeat;
  }
main{
  font-size: large;
  font-weight: 500;
  background:linear-gradient(to right,rgb(250, 248, 246),rgb(202, 176, 180),rgb(209, 201, 209));
}
header{
  font-size: large;
  font-weight: 500;
  background:linear-gradient(to right,rgb(111, 135, 158),rgb(199, 65, 87),rgb(129, 19, 129));
}


h1{
 
    margin: 20px;
    font-size: 32px;
    background: none;
   font-family: 'Courier New', ;
    font-weight: 700;
    color: rgb(27, 3, 58);
   font-style:oblique;
   text-shadow: 0px 3.5px rgba(0, 0, 0, 0.3);
  }
  sub{
    background: none;
  }
  @keyframes aniwelcome {
    0%{
 transform: scale(0.4);
    }
    100%{
      transform: translateX(-2px);
    }
  }
    

  h3{
    animation: aniwelcome 3s ;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 0px 3.5px rgba(0, 0, 0, 0.575);
  }
  .log-sign h4{
background: none;
    display: inline-block;
    justify-content: space-around;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
  }
  .log-sign h4:hover{
    background-color: gainsboro;
transform: scale(1.3);
    width: 70px;
    border-radius: 10px;
    text-align: center;
    
  }
  a,p,span{
    background: none;
  }
  .main-dp p{
    font-size: 14px;
    font-weight: 700;
  }
 .under span{
    font-size: 25px;
    font-weight: 700;
    color: rgb(197, 35, 116);
  }
  .main-dp span{
    font-size: 20px;
    font-weight: 700;
    color: rgb(197, 35, 116);
  }

  .main-Bg{
    background-image: url(images/5673719.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;

  

  }
  

  .main-dp h2{
    font-size: 20px;
    font-weight: 700;
    background: none;
  }

  .main-dp{
  display: inline-block;
background:linear-gradient(to right,rgb(199, 208, 216),rgb(82, 74, 75),rgb(245, 216, 245));;
margin-top: 40px

  }
  .main-dp:hover{
    transform: scale(1.3);
  }
  button:hover{
    transform: scale(1.2);
  }
  button{
    margin-bottom: 5px;
width: 80px;
height: 40px;
margin-left: 200px;
border-radius: 5px;
animation: btn 6s ease-in-out infinite  alternate ;
  }
  @keyframes btn {
    0%{
      text-transform: uppercase;
    }
  }
  .under p{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
  }
  .under{
    display: inline-block;
    background: none;
  }
 
 
  
  .prodp{
    margin-left: 10px;
    font-weight: 500;
  }
  .prodp span{
    font-weight: 700;
  }
 .prod sub{
    background: none;
  }
 .prod{
  display: inline-block;
  background: none;
  margin: 10px;
 }
 .prod :hover{
animation: prod 0.5s ease-in;
 }
 @keyframes prod {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
 }
 .prod p{
  font-size: 16px;
  font-weight: 500;
 }
 .prod a{
font-size: large;
font-weight: 700;

 }
 .partners div{
  display: inline-block;
margin: 20px;
border: 3px solid rgba(24, 10, 10, 0.534);

  border-radius: 5px;
 }
 .partners div:hover{
  transform: scale(1.2);
transform-style:flat;
 }
  
 .partners p{
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: rgb(95, 38, 38);

 }
 .each-part1 h2{
  background: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow';
  font-size: 35px;
  font-weight: 700;
  color: rgb(92, 36, 36);
  text-shadow: 0px 3.5px rgba(10, 0, 0, 0.575);
  
 }
 
 .each-part2 h2{
  font-size: 30px;
  background: none;
 font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: rgb(14, 3, 112);
 font-style: italic;
 }
 .each-part2 p{
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
  color: rgb(1, 4, 14);
 }
 

 .each-part3 h2{
  font-size: 30px;
  background: none;
 font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: rgb(129, 48, 125);
 font-style:oblique;
 text-shadow: 0px 3.5px rgba(0, 0, 0, 0.3);
 }
 .each-part3 p{
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
  color: rgb(131, 4, 93);
 }
 .each-part4 h2{
  font-size: 30px;
  background: none;
  font-weight: 700;
  color: rgb(27, 3, 58);
 text-shadow: 0px 3.5px rgba(0, 0, 0, 0.3);
 }
 .each-part4 p{
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
  color: rgb(27, 3, 58);
 }
 h6{
  font-size: 20px;
  background: none;
  font-weight: 600;
  margin-left: 10px;
  color:rgb(24, 22, 24) ;
  margin-top: 50px;
 }
 footer{
  
  background:linear-gradient(to right,rgb(111, 135, 158),rgb(235, 173, 183),rgb(56, 37, 37));
}
footer img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
}
 footer p{
font-size: 18px;
 }
 footer h5{
  font-size: 15px;
 }
 .image-phone{
  display: inline-block;
 }
 .main-foot{
  display: inline-block;
  margin:30px;
  background: none;
 }
 .main-foot h2,h5,p{
  background: none;
 }
 .in-touch,.contact{
  background:none;
 }
 .copy-right{
  display: inline-block;
  margin: 10px;
 }
 .people{
  display:inline-block;
  margin: 10px;
 }
 .people h4,h5{
  color: rgb(59, 56, 56);
 }
.people img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
  
ul{
  margin: 10px;
  font-size: large;
  font-weight: 500;

}
ul:hover{
  background-color: rgb(49, 55, 59);
  border-radius: 10px;
}
 
 
}